{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="{% static 'healthtracker/javascript3.js' %}"></script>
    <link rel="stylesheet" href="{% static 'healthtracker/styles3.css' %}">
    <title>{% block title%} {% endblock %}</title>
    {% block script %}
    {% endblock %}
</head>
<body>
    <div id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="layout-navbar">
            <a class="navbar-brand" href="{% url 'index' %}">Health Tracker</a>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'checkhealth' %}">Check Health</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'adddata' %}">Add data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addpatient' %}">Add Patient</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin-login' %}">Admin Login</a>
                        </li>
                {% endif %}
              </ul>
            </div>
        </nav>
        <br>
    {% block body %}
    {% endblock %}

    </div>
</body>
</html>